# # General
APP_ENV="dev"
HOST=127.0.0.1
PORT=3000

# # Database
DB_HOST="postgres"
DB_PORT="5432"
DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"

# # JWT
JWT_PRIVATE_PATH="jwt_private_rsa256.key"
JWT_PUBLIC_PATH="jwt_public_rsa256.key"